@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/roboto-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../resources/fonts/roboto-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../resources/fonts/roboto-v15-latin-regular.woff") format("woff"), url("../resources/fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../resources/fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6b6b6b;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }

#layout-topbar {
  background-color: #20272a;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }
  #layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s; }
    #layout-topbar .menu-button:hover {
      background-color: #4a4f52; }
    #layout-topbar .menu-button i {
      line-height: inherit; }
  #layout-topbar .logo {
    margin-left: 45px;
    margin-top: 12px;
    display: inline-block; }
    #layout-topbar .logo img {
      width: 210px; }
  #layout-topbar .topbar-menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
    height: 100%; }
    #layout-topbar .topbar-menu > li {
      display: inline-block;
      height: 100%; }
      #layout-topbar .topbar-menu > li > a {
        text-decoration: none;
        color: #ffffff;
        transition: background-color .3s;
        min-width: 120px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        line-height: 70px; }
        #layout-topbar .topbar-menu > li > a:hover {
          background-color: #4a4f52; }
      #layout-topbar .topbar-menu > li > ul {
        display: none; }
      #layout-topbar .topbar-menu > li.topbar-menu-themes {
        position: relative; }
        #layout-topbar .topbar-menu > li.topbar-menu-themes > ul {
          position: absolute;
          top: 65px;
          left: -50px;
          width: 200px;
          max-height: 300px;
          background-color: #ffffff;
          -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          overflow: auto;
          list-style-type: none;
          padding: 15px 0;
          margin: 0;
          border-radius: 3px;
          -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
          animation-duration: .5s; }
          #layout-topbar .topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
            padding: 6px 12px;
            font-weight: bold;
            text-align: left;
            background-color: #008fba;
            background-image: -webkit-linear-gradient(left, #008fba, #03c4e8);
            background-image: -moz-linear-gradient(left, #008fba, #03c4e8);
            background-image: -ms-linear-gradient(left, #008fba, #03c4e8);
            background-image: -o-linear-gradient(left, #008fba, #03c4e8);
            background-image: linear-gradient(to right, #008fba, #03c4e8);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008fba', endColorStr='#03c4e8', gradientType='1');
            color: #ffffff; }
          #layout-topbar .topbar-menu > li.topbar-menu-themes > ul a {
            text-decoration: none;
            color: #404C51;
            padding: 6px 12px;
            display: block;
            transition: all 0.5s ease; }
            #layout-topbar .topbar-menu > li.topbar-menu-themes > ul a:hover {
              background-color: #eeeeee; }
            #layout-topbar .topbar-menu > li.topbar-menu-themes > ul a img {
              width: 32px;
              vertical-align: middle;
              margin-right: 4px; }
            #layout-topbar .topbar-menu > li.topbar-menu-themes > ul a .ui-text {
              vertical-align: middle;
              margin-left: 8px; }
      #layout-topbar .topbar-menu > li:hover > ul {
        display: block; }

#layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  width: 300px;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
  #layout-sidebar .layout-menu > a {
    width: 100%;
    height: 50px;
    display: block;
    padding: 15px 0px 0px 25px;
    border-top: solid 1px #e3e9ea;
    box-sizing: border-box;
    color: #484848;
    cursor: pointer; }
    #layout-sidebar .layout-menu > a:hover {
      background-color: #eeeeee; }
    #layout-sidebar .layout-menu > a span {
      font-size: 16px;
      margin: 0px 0px 0px 30px;
      display: block; }
    #layout-sidebar .layout-menu > a img {
      width: 20px;
      height: auto;
      float: left; }
      #layout-sidebar .layout-menu > a img.layout-menu-icon-active {
        display: none; }
      #layout-sidebar .layout-menu > a img.layout-menu-icon-inactive {
        display: inline; }
    #layout-sidebar .layout-menu > a.active-menuitem {
      background-color: #ffffff;
      color: #03c4e8; }
      #layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-active {
        display: inline; }
      #layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-inactive {
        display: none; }
  #layout-sidebar .layout-menu > div {
    width: auto;
    overflow: hidden;
    background-color: #ffffff; }
    #layout-sidebar .layout-menu > div > div {
      overflow: hidden;
      padding: 20px 15px; }
    #layout-sidebar .layout-menu > div.submenuhide {
      overflow: hidden;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
    #layout-sidebar .layout-menu > div.submenushow {
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      max-height: 500px; }
    #layout-sidebar .layout-menu > div a {
      width: 50%;
      float: left;
      padding: 6px;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      font-size: 14px;
      color: #7a8687; }
      #layout-sidebar .layout-menu > div a:hover {
        background-color: #eeeeee; }
  #layout-sidebar .nano > .nano-content .layout-menu {
    padding-bottom: 120px; }
  #layout-sidebar .nano > .nano-pane {
    background-color: transparent; }
    #layout-sidebar .nano > .nano-pane .nano-slider {
      background-color: #aaaaaa; }

.layout-mask {
  z-index: 998;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 98px;
  left: 0;
  background-color: #4c5254;
  opacity: .7; }

#layout-content {
  margin-left: 300px;
  padding-top: 70px;
  background-color: #f9f9f9; }
  #layout-content .content-section {
    display: block;
    border-bottom: solid 1px #dde3e6;
    padding: 30px;
    background-color: #f5f7f8; }
    #layout-content .content-section:first-of-type > div > span {
      line-height: 1.5em; }
    #layout-content .content-section h2 {
      margin-top: 0; }
    #layout-content .content-section.introduction {
      background-color: #008fba;
      background-image: -webkit-linear-gradient(left, #008fba, #03c4e8);
      background-image: -moz-linear-gradient(left, #008fba, #03c4e8);
      background-image: -ms-linear-gradient(left, #008fba, #03c4e8);
      background-image: -o-linear-gradient(left, #008fba, #03c4e8);
      background-image: linear-gradient(to right, #008fba, #03c4e8);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008fba', endColorStr='#03c4e8', gradientType='1');
      color: #ffffff; }
      #layout-content .content-section.introduction .feature-intro h1 {
        font-size: 28px;
        margin: 0 0 20px 0;
        display: block;
        text-align: left;
        color: #ffffff;
        font-weight: normal; }
      #layout-content .content-section.introduction .feature-intro p {
        margin: 0;
        line-height: 1.5em; }
    #layout-content .content-section.implementation {
      background-color: #FFFFFF;
      border: solid 1px #eaeaea;
      text-align: left; }
      #layout-content .content-section.implementation > h3 {
        font-weight: bold;
        margin-top: 30px; }
        #layout-content .content-section.implementation > h3:first-child {
          margin-top: 0px !important; }
    #layout-content .content-section.content-submenu {
      background-image: linear-gradient(to left, #20272a, #20272a);
      padding: 15px 30px;
      border-bottom: 1px solid #1b81d7; }
      #layout-content .content-section.content-submenu ul {
        margin: 0;
        padding: 0;
        width: 100%; }
        #layout-content .content-section.content-submenu ul li {
          list-style: none;
          width: 20%;
          float: left;
          margin-top: 5px; }
          #layout-content .content-section.content-submenu ul li a {
            color: #cac6c6;
            display: block;
            width: 90%;
            border: 1px solid transparent;
            transition: border-color .1s;
            padding: 6px 12px;
            border-radius: 3px; }
            #layout-content .content-section.content-submenu ul li a:hover {
              border: 1px solid #ffffff;
              color: #ffffff; }
    #layout-content .content-section.source {
      /* Demo Tabs Source */ }
      #layout-content .content-section.source h3 {
        color: #484848;
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 24px;
        font-weight: normal; }
      #layout-content .content-section.source h4 {
        color: #484848;
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: normal; }
      #layout-content .content-section.source p {
        color: #484848;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0; }
      #layout-content .content-section.source .doc-tablewrapper {
        margin: 10px 0; }
      #layout-content .content-section.source a {
        color: #03c4e8; }
      #layout-content .content-section.source .btn-viewsource {
        background-color: #444;
        padding: .5em;
        border-radius: 2px;
        color: #fff;
        font-weight: 700;
        margin: .5em 0;
        display: inline-block;
        transition: background-color .3s; }
        #layout-content .content-section.source .btn-viewsource:hover {
          background-color: #595959; }
      #layout-content .content-section.source .ui-tabview {
        background: none;
        border: 0 none;
        color: #5C666A;
        font-weight: lighter;
        -moz-border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        border-radius: 4px !important; }
        #layout-content .content-section.source .ui-tabview .ui-tabview-nav {
          border-radius: 3px;
          background-color: #008fba;
          background-image: -webkit-linear-gradient(left, #008fba, #03c4e8);
          background-image: -moz-linear-gradient(left, #008fba, #03c4e8);
          background-image: -ms-linear-gradient(left, #008fba, #03c4e8);
          background-image: -o-linear-gradient(left, #008fba, #03c4e8);
          background-image: linear-gradient(to right, #008fba, #03c4e8);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008fba', endColorStr='#03c4e8', gradientType='1');
          padding: 4px 4px 0px 4px; }
          #layout-content .content-section.source .ui-tabview .ui-tabview-nav li {
            margin-right: 4px;
            box-shadow: none !important; }
            #layout-content .content-section.source .ui-tabview .ui-tabview-nav li a {
              padding-top: 8px; }
            #layout-content .content-section.source .ui-tabview .ui-tabview-nav li.tab-doc {
              margin-right: 0; }
            #layout-content .content-section.source .ui-tabview .ui-tabview-nav li.ui-state-default {
              border: none; }
              #layout-content .content-section.source .ui-tabview .ui-tabview-nav li.ui-state-default a {
                border-radius: 3px 3px 0 0;
                color: #ffffff;
                text-shadow: none;
                height: inherit;
                background-color: #0080a7; }
            #layout-content .content-section.source .ui-tabview .ui-tabview-nav li.ui-state-active a {
              background: #f5f7f8;
              color: #484848; }
            #layout-content .content-section.source .ui-tabview .ui-tabview-nav li:not(.ui-state-active) a:hover {
              background-color: #007294; }
        #layout-content .content-section.source .ui-tabview .ui-tabview-panels {
          border-top: 1px solid #F5F6F7 !important;
          color: #5C666A !important;
          background: #F5F6F7; }
    #layout-content .content-section .doc-table {
      border-collapse: collapse;
      width: 100%; }
      #layout-content .content-section .doc-table th {
        background-color: #cce8f1;
        font-weight: bold;
        padding: 8px 20px 7px;
        text-align: left;
        border: solid 1px #b7d0d8; }
      #layout-content .content-section .doc-table tbody td {
        padding: 8px 20px;
        border: 1px solid #d4e1e3; }
      #layout-content .content-section .doc-table tbody tr:nth-child(even) {
        background-color: #f3fbfc; }
      #layout-content .content-section .doc-table tbody tr:nth-child(odd) {
        background-color: #ffffff; }

.layout-footer {
  font-size: 14px;
  color: #84939f; }
  .layout-footer .footer-links {
    float: right;
    font-size: 24px; }
  .layout-footer a {
    margin-left: 16px; }
  .layout-footer .icon-github {
    width: 29.1px;
    height: 29.1px;
    color: #20272a; }
  .layout-footer .icon-twitter {
    width: 29.1px;
    height: 29.1px;
    color: #20272a; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* Home Component*/
.home {
  /* Introduction */
  /* Features */
  /* Who Uses */
  /* PRO */ }
  .home p {
    line-height: 22px; }
  .home .introduction {
    background-color: #1976d2;
    background: url("../resources/images/primereact-slider-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #20272a;
    padding: 80px 30px 100px 50px; }
    .home .introduction h1 {
      font-weight: normal;
      margin-bottom: 5px;
      font-size: 24px; }
    .home .introduction h2 {
      font-weight: bold;
      margin-bottom: 40px;
      margin-top: 0;
      font-size: 24px; }
    .home .introduction .home-button {
      width: 112px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      background-color: #03C4E8;
      padding: 10px 24px 9px 24px;
      border-radius: 3px;
      transition: background-color .3s; }
      .home .introduction .home-button:hover {
        background-color: #029cb9; }
    .home .introduction > div {
      padding: 100px 100px 0 100px;
      height: 200px; }
  .home .features {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px; }
    .home .features h3 {
      font-size: 24px;
      color: #484848;
      margin-bottom: 25px; }
    .home .features img {
      width: 57px; }
    .home .features .feature-name {
      display: block;
      font-weight: bold;
      font-size: 16px;
      margin-top: 4px;
      color: #20272a; }
    .home .features .ui-g p {
      color: #20272a;
      margin-bottom: 30px; }
    .home .features .ui-g > div {
      padding: .5em 2em; }
    .home .features p {
      margin-bottom: 30px; }
      .home .features p.features-tagline {
        color: #484848;
        margin-bottom: 0;
        margin-top: -5px; }
      .home .features p.features-description {
        color: #484848;
        text-align: left; }
      .home .features p > a {
        font-weight: bold;
        color: #03c4e8; }
  .home .whouses {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 30px; }
    .home .whouses h3 {
      margin-bottom: 10px; }
    .home .whouses img {
      height: 30px;
      width: 100%; }
    .home .whouses .ui-g > div {
      padding: 1em .5em; }
    .home .whouses p {
      margin-bottom: 30px; }
      .home .whouses p > a {
        font-weight: bold;
        color: #03c4e8; }
  .home .templates {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #c4c5c6; }
    .home .templates h3 {
      font-size: 24px;
      color: #484848;
      margin-bottom: 25px; }
    .home .templates img {
      width: 100%; }
  .home .prosupport {
    border-bottom: 1px solid #dcdedf;
    background-color: #f5f7f8;
    padding: 30px;
    color: #222222; }
    .home .prosupport p {
      line-height: 22px;
      margin-bottom: 1em; }
    .home .prosupport h3 {
      font-size: 24px; }
    .home .prosupport img {
      margin-top: 10px; }
    .home .prosupport .ui-md-6:last-child {
      text-align: center; }
    .home .prosupport .home-button2 {
      width: 112px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      background-color: #E8037D;
      padding: 10px 24px 9px 24px;
      border-radius: 3px;
      transition: background-color .3s;
      display: inline-block; }
      .home .prosupport .home-button2:hover {
        background-color: #b90264; }

@media screen and (max-width: 64em) {
  #layout-topbar {
    text-align: center; }
    #layout-topbar .menu-button {
      display: inline-block; }
    #layout-topbar .logo {
      margin: 7px 0 7px 0; }
      #layout-topbar .logo img {
        width: 180px; }
    #layout-topbar .topbar-menu {
      background-color: #363c3f;
      float: none;
      width: 100%;
      height: 40px;
      margin: 0;
      text-align: center; }
      #layout-topbar .topbar-menu > li > a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px; }
      #layout-topbar .topbar-menu > li.topbar-menu-themes > ul {
        top: 40px;
        text-align: left; }
  #layout-sidebar {
    top: 98px;
    left: -300px;
    transition: left .3s;
    z-index: 999; }
    #layout-sidebar.active {
      left: 0; }
  #layout-content {
    margin-left: 0;
    padding-top: 96px; }
    #layout-content .content-section.submenu ul li {
      width: 50%; }
    #layout-content .content-section.source .doc-table thead th,
    #layout-content .content-section.source .doc-table tbody td {
      word-break: break-all; }
  .home .introduction > div {
    width: 100%; }
  .home .features > div {
    width: 100%; }
  .home .whouses > div {
    width: 100%; }
  .home .prosupport > div {
    width: 100%; } }

input[type="number"] {
  -moz-appearance: textfield; }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

a {
  text-decoration: none;
  color: #4eafe6; }

/* Grid Demos */
.grid-demo .ui-g div {
  background-color: #ededed;
  text-align: center;
  border: 1px solid #fafafa; }

.scrollpanel-demo .custombar1 .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4; }

.scrollpanel-demo .custombar1 .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s; }

.scrollpanel-demo .custombar1 .ui-scrollpanel-bar:hover {
  background-color: #135ba1; }

.scrollpanel-demo .custombar2 .ui-scrollpanel-wrapper {
  border-right: 9px solid #000000; }

.scrollpanel-demo .custombar2 .ui-scrollpanel-bar {
  background-color: #68C77D;
  border-radius: 0;
  opacity: 1;
  transition: background-color .3s; }

.scrollpanel-demo .custombar2:hover .ui-scrollpanel-bar {
  background-color: #46A55A; }

/* Animation */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }

/* Demos */
.datalist-demo .car-item {
  padding: 1.5em;
  padding: 20px;
  border-bottom: 1px solid #cccccc; }
  .datalist-demo .car-item i {
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-right: 20px; }

.datalist-demo li:last-child .car-item {
  border-bottom: 0 none; }

.datalist-demo .ui-g > div {
  padding: .4em; }

.datalist-demo .ui-g .ui-g-10, .datalist-demo .ui-g .ui-g-8 {
  font-weight: bold; }

.ui-growl {
  top: 100px !important; }

pre code {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14px;
  background-color: #20272a !important; }

@media (max-width: 40em) {
  .datalist-demo .car-item {
    text-align: center; }
    .datalist-demo .car-item i {
      float: none;
      display: inline-block;
      vertical-align: top; } }
